<div class="jumbotron">
  <h1>Opower API DEMO</h1>
  <p class="lead">
    <img src="images/logo.png" alt="logoOpower"><br>
    Permet de comparer les consommations des équipements électriques de sa maison entre amis.
    Pour un accès plus complet, se diriger sur : <a href="http://localhost:8080/swagger-ui.html">OPOWER API Complet</a>
  </p>
</div>

<div class="row marketing">
  <h4>Création des éléments automatiquement dans la base de données pour l'exemple</h4>
  <button type="button" class="btn btn-primary" ng-click="generate()">Générer</button>
</div>
